@value backgroundColor: #FBFBFC;
@value cardBorderColor: #D0CFE3;
@value cardSelectedBorderColor: #1F1C53;
@value textColor: #162644;
@value cardHoverColor: black;

.base {
  width: 100%;
  min-height: 124px;
  background-color: backgroundColor;
  padding: 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  color: textColor;
}

.button {
  border: 0;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  color: var(--autentia-color);
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  padding: 4px 6px;
}

.button:hover {
  background-color: #f4f4fC;
}

.button:focus {
  background-color: #DCD9FC;
}

.project {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  color: textColor;
  margin-bottom: 4px;

  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  color: textColor;
  font-weight: lighter;

  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 146px);
  grid-gap: 8px;
}
/*
.grid > * + * {
  margin-left: 8px;
}*/

.card {
  height: 60px;
  padding: 6px 8px;
  border: 1px solid cardBorderColor;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.card:hover, .card:focus {
  border-color: cardHoverColor;
  background-color: #f4f4f4;
}

.cardSelected {
  border: 2px solid cardSelectedBorderColor;
  box-shadow: -2px -2px 5px rgba(31, 26, 97, .15);
}