.container {
  display: grid;
  grid-template-columns: repeat(6, minmax(178px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 1fr;
  overflow: auto;

  box-shadow: var(--calendar-grid-shadow);
  border: solid 1px var(--calendar-grid-border-color);
  background-color: var(--color-white);
  margin: 0 32px 32px 32px;
  height: 100%
}

.weekDay {
  align-self: center;
  justify-self: center;

  font-size: 14px;
  line-height: 1.36;
  color: var(--dark);
  text-transform: uppercase;
}

.cell {
  min-height: 100px;
  max-height: 115px;
  max-width: 229px;
  border-bottom: 1px solid var(--calendar-grid-border-color);
  border-right: 1px solid var(--calendar-grid-border-color);
  padding: 8px;
}

.cell:nth-of-type(6n + 6) {
  border-right: 0;
}

.cellOtherMonth {
  composes: cell;
  background-color: var(--calendar-grid-cell-other-month-bg-color);
}

.cellHoliday {
  composes: cell;
  background-color: var(--calendar-grid-cell-public-holiday-bg-color);
}

.cellHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 24px;
}

.cellBody {
  max-height: calc(100% - 24px);
  overflow-y: scroll;
}


.animatedDay {
  font-size: 12px;
  line-height: 1.36;
  margin-left: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--color-white);
}

.day {
  font-size: 12px;
  line-height: 1.36;
  color: var(--calendar-grid-cell-day-color);
}

.today {
  composes: day;
  margin-left: -4px;
  padding: 4px 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--color-white);
}
