.base {
  max-width: 600px;
}

.text {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-14);
  line-height: 1.15;
  margin-right: 8px;
}

.text > svg {
  color: #c8c8c8;
  min-width: 15px;
  margin-right: 4px;
}

.description {
  font-size: var(--font-size-14);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon {
  width: 15px;
}