.pageContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--login-form-bg);
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: var(--login-form-shadow);
  border-radius: 5px;
  background-color: var(--login-form-bg);
  padding: 40px 32px;
}

@media (min-width: 680px) {
  .formContainer {
    min-width: 425px;
  }
}

.logo {
  margin: 0 0 32px 0;
  display: block;
  width: 200px;
  color: var(--color-black);
}

.title {
  font-family: var(--heading-font);
  font-size: var(--font-size-28);
  font-weight: bold;
  margin: 0;
  color: var(--color-black);
}

.subtitle {
  font-family: var(--heading-font);
  font-size: var(--font-size-24);
  font-weight: lighter;
  margin: 0 0 32px 0;
  color: var(--color-black);
}

.illustrationBlock {
  flex: 1
}

.version {
  font-size: var(--font-size-16);
  font-weight: lighter;
  align-self: flex-end;
  margin: 16px 24px;
}
