.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* This must be at a higher index to the rest of your page content */
  background-color: #c5c5c595;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* Center both vertically and horizontally without explicitly knowing the width or height */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Width is responsive and can be max 600px */
  width: 600px;
  max-width: 100%;
  /* Height is responsive and can be max 400px */
  height: 600px;
  max-height: 100%;


  background-color: white;
  padding: 16px;
  border-radius: 5px;

  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.04),
          0 6.7px 5.3px rgba(0, 0, 0, 0.029),
          0 12.5px 10px rgba(0, 0, 0, 0.024),
          0 22.3px 17.9px rgba(0, 0, 0, 0.02),
          0 41.8px 33.4px rgba(0, 0, 0, 0.016),
          0 100px 80px rgba(0, 0, 0, 0.011);
}

.content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 16px;
}

.icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.hideVisually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}