.label {
  cursor: pointer;
  display: flex;
  width: 24px;
}

.input {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
}

.input:focus + .label {
  outline: 1px dotted #212121 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline: 5px auto -webkit-browser-ring-color !important;
  outline-offset: initial !important;
}

.icon {
  width: 20px;
  height: 20px;
}

