.base {
  display: grid;
  grid-template-areas:
          "startTime endTime"
          "duration duration"
          "entities entities"
          "billable billable"
          "description description";
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  padding: 16px;
}

.startTime {
  grid-area: startTime;
}

.endTime {
  grid-area: endTime;
}

.duration {
  grid-area: duration;
}

.entities {
  grid-area: entities;
}

.billable {
  grid-area: billable;
}

.description {
  grid-area: description;
}

.fieldset {
  composes: entities;
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  margin-bottom: 16px;
}

.entitiesContainer {
  background-color: #fbfbfc;
  display: grid;
  grid-gap: 16px;
}