.input {
    composes: smallLeftPadding from '../../Layout.module.css';
    height: 35px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: 2px solid hsl(243, 9%, 89%);
}

.input:focus {
    border: 2px solid hsl(243, 65%, 33%);
}