.base {
  display: flex;
  align-items: center;
}

.select {
  /* General styling */
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-black);

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;

  font-size: var(--font-size-10);
  margin-right: 4px;
  cursor: pointer;

}

.arrow {
  display: block;
  color: black;
  width: 10px;
  height: 5px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}