.base {
  position: relative;
}

.menu {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .009375em;
  line-height: 1.15;
  margin: 0;
  padding: 8px 16px;
  list-style-type: none;
  color: inherit;
  border-radius: 4px;
  box-shadow: 0 3px 15px #e7e6f5;
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  top: 50px;
  cursor: pointer;
  max-height: 300px;
  overflow: scroll;
  z-index: 400;
}

.menu > * + * {
  margin-top: 8px;
}

.spinner {
  position: absolute;
  right: 12px;
  top: 14px;
}

.dropdownIcon {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat 50%;
  width: 24px;
  height: 24px;
  transition: transform .15s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.dropdownIconActivated {
  transform: rotate(180deg) translateY(-5px);
  transition: transform .15s cubic-bezier(.4,0,.2,1);
}

.disabled {
  background-color: #f1f1f1;
  opacity: .5;
}
