.hint {
  color: rgba(0, 0, 0, 0.54);
  font-size: var(--font-size-12);
  margin: 8px 14px 0;
  min-height: 1em;
  text-align: left;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.03333em;
}

.alignLeft {
  text-align: right;
}

.error {
  color: var(--error-color);
}
