.base {
  display: flex;
}

.input {
  flex-grow: 1;
}

.button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f7f7f7;
}