.container {

}

.container input {
  padding-right: calc(14px + 64px)
}

.button {
  height: 48px;
  width: 64px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 0;
  outline: 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}