.container {
  display: flex;
  align-items: center;
}

.month {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  color: var(--dark);
}

.year {
  font-size: 24px;
  line-height: 1.33;
  color: var(--dark);
}

.date {
  margin-left: 12px;
  margin-right: 12px;
}

.arrowButton {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: black;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #10069f;
  position: absolute;
  color: black;
  animation: makeVisible .1s linear .4s forwards, spin .6s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes makeVisible {
  to {
    visibility: visible;
  }
}