.chakra-ui-dark {
  --primary-color: #3939df;
  --body-bg-color: var(--chakra-colors-gray-700);
  --private-holiday-color: var(--chakra-colors-blue-400);
  --public-holiday-color: var(--chakra-colors-yellow-400);
}

.chakra-ui-light {
  --primary-color: var(--chakra-colors-brand-500);
  --body-bg-color: white;
  --private-holiday-color: var(--chakra-colors-blue-400);
  --public-holiday-color: var(--chakra-colors-yellow-400);
}

/*
    Hide focus on mouse interaction
  */
.focus-visible:focus + label {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

input.focus-visible:focus {
  box-shadow: none !important;
}

.chakra-ui-dark input[type='time']::-webkit-calendar-picker-indicator,
.chakra-ui-dark input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(98%) sepia(6%) saturate(283%) hue-rotate(284deg) brightness(117%) contrast(100%);
}

.chakra-ui-dark .tooltip-container {
  background-color: #1a202c !important;
  color: white;
}
