.baseInput {
  display:flex;
  border: 2px solid hsl(243, 9%, 89%);
  height: 35px;
  font-size: 14px;
  border-radius: 3px;
  fill: hsl(243, 9%, 75%);
}

.baseInput:focus-within {
  border: 2px solid hsl(243, 65%, 33%);
}

.input {
  composes: smallLeftPadding from '../../Layout.module.css';
  padding-top: 0;
  padding-bottom: 0;
  flex: 1;
  height: 33px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 35;
}

.button {
  border: none;
  height: 31px;
  width: 36px;
  vertical-align: middle;
  background-color: transparent;
}

.button:focus {
  outline: none;
  background-color: hsla(243, 9%, 95%, 1);
}