.base {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr) ;
  grid-template-rows: repeat(2, [row] auto);
  grid-gap: 16px;
  padding: 16px;
  margin-bottom: auto;
}

.startTime {
  grid-column: col / span 3;
}

.endTime {
  grid-column: col 4 / span 3;
}

.duration {
  grid-column: col / span 6;
  display: flex;
  justify-content: space-between;
}

.entities {
  grid-column: col / span 6;
  position: relative;
}

.billable {
  grid-column: col / span 6;
  --checkbox-primary-color: hsla(116, 86%, 33%, 1);
  --checkbox-primary-color-focus: hsla(116, 86%, 33%, 0.06);
}

.description {
  grid-column: col / span 6;
}

.image {
  grid-column: col / span 6;
  display: flex;
  align-items: center;
}

.imageActions {
  display: flex;
  height: 20px;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  margin: 24px 16px;
}

.selectsContainer {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.selectsTitle {
  margin-bottom: 16px;
}

.entitiesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.rolesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.timeOverlapError {
  margin: 0;
  grid-row: row 2;
  grid-column: col 1/ span 6;
}

@media screen and (max-width: 480px) {
  .rolesList {
    grid-template-columns: 1fr;
  }
}

.button {
  border: none;
  border-radius: 4px;
  padding: 8px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #1f1c53;
  position: absolute;
  top: -4px;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #f6f4f4;
}

.toggleButtonSpan {
  display: flex;
}

.toggleButtonIcon {
  width: 14px;
  margin-right: 6px
}

@media only screen and (min-width: 850px) {

  .startTime {
    grid-column: col / span 2;
  }

  .endTime {
    grid-column: col 3 / span 2;
  }

  .duration {
    grid-column: col 5 / span 2;
    align-items: center;
  }

  .entitiesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
}
