.startTime {
  grid-column: col / span 3;
}

.endTime {
  grid-column: col 4 / span 3;
}

.entities {
  grid-column: col / span 6;
  position: relative;
}

.billable {
  grid-column: col / span 6;
}

.description {
  grid-column: col / span 6;
}

@media only screen and (min-width: 850px) {
  .startTime {
    grid-column: col / span 2;
  }

  .endTime {
    grid-column: col 3 / span 2;
  }

  .entitiesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .saveButton {
    position: fixed;
    bottom: -14px;
    right: 32px;
  }
}

