.base {
  border-radius: 50%;
  padding: 5px;
}

.base:hover {
  background-color: #f6f4f4;
}

.label {
  cursor: pointer;
  display: flex;
}

.input {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
}

.icon {
  width: 20px;
  height: 20px;
}

