.container {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.language {
  border: none;
  padding: 0;
  margin: 0 0 16px;
}

.language > legend {
  padding: 0;
  margin-left: 8px;
}
.language > label:first-of-type {
  margin: 0;
}