.base {
  font-size: 12px;
  line-height: 1.36;
  color: #727272;
  cursor: pointer;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border: none;
  display: flex;
  background-color: transparent;
}

.base:hover {
  border-radius: 5px;
  color: black;
  background-color: hsla(0, 0%, 92%, 1);
}

.billable {
  color: var(--light-green);
  border-radius: 5px;
}

.billable:hover {
  color: var(--light-green);
  background-color: var(--light-green-bg);
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.time {
  font-weight: 600;
}