.base {
  font-size: 12px;
  line-height: 1.36;
  color: var(--activity-color);
  cursor: pointer;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border: none;
  display: flex;
  background-color: transparent;
}

.base:hover {
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--activity-hover-bg-color);
}

.billable {
  color: var(--billable-color);
  border-radius: 5px;
}

.billable:hover {
  color: var(--billable-color);
  background-color: var(--billable-lighter-color);
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.time {
  font-weight: 600;
}