.parentMenu li:hover .submenu {
  display: flex !important;
}

.submenu {
  position: absolute;
  width: 230px;
  padding: 15px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px 5px #626262;
}

.submenu a {
  text-transform: none;
  padding-bottom: 5px;
}

[data-theme='dark'] .submenu {
  background: #1a202d;
}

@media screen and (max-width: 480px) {
  ul.submenu {
    position: static;
    display: flex;
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin-top: 0.25em;
  }
  .submenu a {
    padding: 0.5em 1.5em;
    text-transform: uppercase;
  }
  .parentMenu li a {
    height: auto;
  }
  svg.arrowIcon {
    display: none;
  }
}
