/* TimeStats */

.time {
  background: #fff;
  border: 1px solid #dddada;
  border-radius: 3px;
  padding: 8px 10px;
  width: 260px;
  max-height: 58px;
}

.timeLegend {
  width: 90px;
  height: 14px;
  background-color: #e9ebee;
  margin-bottom: 8px;
}

.timeBlock {
  display: inline-block;
  width: 34px;
  height: 16px;
  background-color: #e9ebee;
  margin-right: 32px;
}

.timeBalanceBlock {
  display: inline-block;
  width: 101px;
  height: 16px;
  background-color: #e9ebee;
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::after {
  content: "";
  display: block;
  background-color: #dddfe2;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}