/* Start TimeStats */

.time {
  background: #fff;
  border: 1px solid #dddada;
  padding: 8px 10px;
  width: 260px;
  max-height: 58px;
}

.timeLegend {
  width: 90px;
  height: 14px;
  background-color: #e9ebee;
  margin-bottom: 8px;
}

.timeBlock {
  display: inline-block;
  width: 34px;
  height: 16px;
  background-color: #e9ebee;
  margin-right: 32px;
}

.timeBalanceBlock {
  display: inline-block;
  width: 101px;
  height: 16px;
  background-color: #e9ebee;
}
/* End TimeStats */

/* Start Calendar */
.calendar {
  display: grid;
  grid-template-columns: repeat(6, minmax(178px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 1fr;
  overflow: auto;
  border: solid 1px #dddada;
  background-color: #ffffff;
  margin: 0 32px 32px 32px;
  grid-gap: 10px;
  padding: 10px;
  min-height: 553px;
}

.calendarHeader {
  grid-column: 1 / span 6;
  background-color: #e9ebee;
}

.calendarCell {
  min-height: 100px;
  background-color: #e9ebee;
}

/* End Calendar */

/* Start Activities */

.activities {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.activitiesHoliday {
  display: inline-block;
  margin-right: auto;
  width: 120px;
  height: 14px;
  background-color: #e9ebee;
}

.activitiesTime {
  display: inline-block;
  float: right;
  width: 70px;
  height: 14px;
  background-color: #e9ebee;
}

.activitiesCard {
  min-height: 138px;
  max-width: 390px;
  border: 1px solid #e9ebee;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: 3px;
}

.activitiesCardHeader {
  width: 80%;
  height: 18px;
  background-color: #e9ebee;
  margin-bottom: 12px;
}

.activitiesCardDuration {
  width: 30%;
  height: 18px;
  background-color: #e9ebee;
  margin-bottom: 12px;
}

.activitiesCardDescription {
  width: 95%;
  height: 55px;
  background-color: #e9ebee;
}

/* End Activities */

/* Loading Effect */

.mobileTime {
  width: 100%;
  height: 58px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9ebee;
}

/* Start Week */

.week {
  max-height: 68px;
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px;
}

.weekday {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #e9ebee;
}

/* End Week */

.loading {
  position: relative;
  overflow: hidden;
}

.loading::after {
  content: "";
  display: block;
  background-color: #dddfe2;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}