.button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-14);
  width: inherit;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
}

.isFullWidth {
  width: 100%;
}

.isTransparent {
  background-color: transparent;
  color: var(--color-black);
}