.button {
  height: 40px;
  background-color: #10069f;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
}

.button:focus {
  outline: 2px solid #10069f;
  outline-offset: 2px;
}