.button {
  height: 40px;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-14);
  width: inherit;
}

.button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.isFullWidth {
  width: 100%;
}