.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* This must be at a higher index to the rest of your page content */
  background-color: #c5c5c595;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* Center both vertically and horizontally without explicitly knowing the width or height */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Width is responsive and can be max 600px */
  width: 300px;
  max-width: 100%;

  background-color: white;
  border-radius: 5px;
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.04),
          0 6.7px 5.3px rgba(0, 0, 0, 0.029),
          0 12.5px 10px rgba(0, 0, 0, 0.024),
          0 22.3px 17.9px rgba(0, 0, 0, 0.02),
          0 41.8px 33.4px rgba(0, 0, 0, 0.016),
          0 100px 80px rgba(0, 0, 0, 0.011);

  display: flex;
  flex-direction: column;
  z-index: 100;

  overflow: hidden;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: #ffefeb;
  color: #ef4823;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.header {
  margin: 16px 16px 0;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}

.subtitle {
  font-size: 14px;
  color: var(--color-grey-light);
  margin-left: 54px;
  margin-bottom: 16px;
}

.footer {
  padding: 10px 16px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: end;
}