:root {
  --primary-color: #0301b2;
  --public-holiday-color: #ECC94B;
  --private-holiday-color: #4299E1;
}

html, body, #root {
  height: 100%
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Work sans", "Helvetica", "Arial", sans-serif;

  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

input:focus + label {
  box-shadow: 0 0 0 3px rgba(66,153,225,0.6);
}

.chakra-ui-dark input[type="time"]::-webkit-calendar-picker-indicator,
.chakra-ui-dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(98%) sepia(6%) saturate(283%) hue-rotate(284deg) brightness(117%) contrast(100%);;
}