.spinner {
  border: 2px solid lightgray;
  border-radius: 50%;
  border-top: 2px solid #10069f;
  width: 20px;
  height: 20px;
  animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}