.weekHeader {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 8px;
}

.weekDay {
  width: 38px;
  font-size: 14px;
  color: hsl(0, 0%, 64%);
  position: relative;
  text-transform: capitalize;
}

.weekDay:nth-of-type(5)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1rem;
  left: calc(120% - 2px);
  border-right: 1px dashed hsl(0, 0%, 64%);
}

.selectedWeekDay {
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}

.currentWeekday {
  font-weight: bold;
  color: var(--primary-color);
}

.isSelectedDate {
  border-radius: 50%;
  background-color: black;
  color: white;
}

.isToday {
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
}

.isHoliday {
  border-radius: 50%;
  font-weight: 600;
  color: var(--public-holiday-color);
  background-color: transparent;
}

.isHolidaySelected {
  border-radius: 50%;
  font-weight: 600;
  color: white;
  background-color: var(--public-holiday-color);
}

.isVacation {
  border-radius: 50%;
  font-weight: 600;
  color: var(--private-holiday-color);
  background-color: transparent;
}

.isVacationSelected {
  border-radius: 50%;
  font-weight: 600;
  color: white;
  background-color: var(--private-holiday-color);
}
