.container {
  font-size: var(--font-size-10);
  text-align: left;
  color: var(--color-black);
  text-transform: uppercase;
}

.title {
  font-weight: 600;
}

.stats {
  display: flex;
  align-items: center;
}

.timeBlock {
  text-align: left;
  text-transform: uppercase;
}

.time {
  font-size: var(--font-size-14);
  font-weight: 600;
  text-align: left;
  text-transform: initial;
}

.divider {
  border-left:1px solid var(--light-blue-grey);
  height: 26px;
  margin: 0 16px;
}