.container {
  z-index: 1000;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  height: initial !important;
}

@media (max-width: 680px) {
  .container {
    align-items: center;
    right: 0;
    left: 0;
  }

  .content {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.title {
  font-size: var(--font-size-16);
  font-weight: bold;
  line-height: 1.38;
}

.closeButton {
  border: none;
  color: white;
  background: transparent;
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 7px;
}

.content {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--error-color);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 8px;
}

.error {
  background-color: white;
  min-width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
