.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.baseNav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
}

.container {
  overflow-x: hidden;
  height: 100%;
}