.base {
  width: 100%;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.label {
  color: var(--color-black);
  padding: 0;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;

  display: block;
  transform-origin: top left;

  top: 0;
  left: 0;
  position: absolute;

  transition: color 200ms cubic-bezier(0, 0, .2, 1) 0ms, transform 200ms cubic-bezier(0, 0, .2, 1) 0ms;

  z-index: 1;
  transform: translate(14px, 16px) scale(1);
  pointer-events: none;
  user-select: none;
}

.labelFocused {
  transform: translate(14px, -6px) scale(.75);
}

.labelFocusedColor {
  color: var(--color-black) !important;
}

.wrapper {
  color: var(--color-black);
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Nunito Sans, sans-serif;
  line-height: 1.1875rem;

  position: relative;
  border-radius: 4px;
}

.wrapper:hover .fieldset {
  border-color: var(--color-black);
}

.input {
  padding: 14.5px 14px;


  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1875rem;
  margin: 0;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  animation-name: MuiInputBase-keyframes-auto-fill-cancel;
  outline: 0;
  text-overflow: ellipsis;
}


.fieldset {
  border-color: var(--color-grey-light);

  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  transition:
          padding-left 200ms cubic-bezier(0, 0, .2, 1) 0ms,
          border-color 200ms cubic-bezier(0, 0, .2, 1) 0ms,
          border-width 200ms cubic-bezier(0, 0, .2, 1) 0ms
  ;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
}

.fieldsetFocused {
  border-color: var(--color-black) !important;
  /* border-width: 2px; */
}

.legend {
  padding: 0;
  text-align: left;
  transition: width 200ms cubic-bezier(0, 0, .2, 1) 0ms;
  line-height: 11px;
}

.dropdownIcon {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat 50%;
  width: 24px;
  height: 24px;
  transition: transform .15s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
  border: none;
  position: absolute;
  right: 10px;
}

.dropdownIconActivated {
  transform: rotate(180deg) translateY(-5px);
  transition: transform .15s cubic-bezier(.4,0,.2,1);
}

.list {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .009375em;
  line-height: 1.5rem;
  margin: 0;
  padding: 8px 16px;
  list-style-type: none;
  color: inherit;
  border-radius: 4px;
  box-shadow: 0 3px 15px #e7e6f5;
  z-index: 300;
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  top: 50px;
  cursor: pointer;
}

.disabled {
  background-color: #f1f1f1;
  opacity: .5;
}