.base {
  margin: 16px;
  position: relative;
  height: 139px;
  border-radius: 5px;
  border: solid 1px var(--color-grey-light);
  background-color: var(--body-background-color);
  padding: 18px 10px 10px 10px;
}

.isBillable {
  border: solid 1px var(--dark-green);
}

.billable {
  position: absolute;
  top: -2px;
  right: 16px;
  height: 10px;
  padding: 0 5px;
  background-color: white;
  font-family: var(--body-font);
  font-weight: bold;
  line-height: 0.38;
  letter-spacing: 1px;
  color: var(--dark-green-2);
  text-transform: uppercase;
  font-size: var(--font-size-8);
}

.header {
  font-family: var(--body-font);
  font-size: var(--font-size-14);
  color: var(--black-color);
}

.headerBlock {
  font-size: var(--font-size-14);
  font-family: 'Work sans', 'serif';
}

.headerBlockWithMarginBottom {
  font-size: var(--font-size-14);
  margin-bottom: 4px;
  display: flex;
  align-items: baseline;
  font-family: 'Work sans', 'serif';

}

.organization {
  position: absolute;
  top: -12px;
  max-width: 45ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 18px;
  color: var(--light-grey);
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Work sans', 'serif';
}

.projectAndRoleText {
  max-width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.icon {
  margin-right: 6px;
}

.dot {
  font-size: 14px;
  text-align: center;
  padding: 0 3px;
  position: relative;
  top: -3px;
  font-family: serif;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  border-radius: 5px;
  background-color: var(--light-grey2);
}

.description {
  font-size: var(--font-size-14);
  line-height: var(--basic-line-height);
}
