.base {
  display: inline-flex;
}

.label {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: flex;
}

.label:not(:last-child) {
  margin-right: 6px;
}
.label:hover {
  background: rgba(0,119,255,0.06);
}

.label span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.label span:first-child {
  position: relative;
  min-width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.label span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.label span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.label:hover span:first-child {
  border-color: #07f;
}
.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox:checked + .label span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave 0.4s ease;
}
.checkbox:checked + .label span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox:focus + .label {
  background: rgba(0,119,255,0.06);
}

.checkbox:disabled + .label {
  background: transparent;
  border-color: initial;
}

.checkbox:disabled + .label span:first-child {
  background: transparent;
  border-color: #cccfdb;
}

.checkbox:disabled + .label {
  opacity: .4;
}

.inlineSvg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .label {
    width: 100%;
    margin-bottom: 4px;
  }
}

@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
