.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-base {
  text-align: center;
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
}

.orange {
  background-color: #f9cd0b;
}

.aqua {
  background-color: aqua;
}

* {
  box-sizing: border-box;
}

.calendar-header {
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 60px;
  padding: 0 16px;
}

.calendar-container {
  height: 70px;
  background-color: silver;
}

.calendar-section {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.calendar-scroll {
  width: 100%;
  height: 100%;
}

.calendar-slide:first-child {
  position: relative;
}

.calendar-slide {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-evenly;
}
