@import-normalize;

:root {
  --autentia-color: #10069f;
  --dark-blue-grey: #1f1c53;
  --light-blue-grey: #d0cfe3;
  --dark: #162644;
  --bg-color: #fafafa;
  --error-color: #e03737;
}

p {
  margin: 0
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input, select, textarea, button{font-family:inherit;}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}