.button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-14);
  width: inherit;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  background-color: hsla(244, 61%, 50%, 0.9);
}

.isFullWidth {
  width: 100%;
}

.isTransparent {
  background-color: transparent;
  color: var(--color-black);
}

.isTransparent:hover {
  background-color: #f6f4f4;
}

.isCircular {
  padding: 5px;
  margin: 0;
  border-radius: 50%;
  border: none;
  font-size: var(--font-size-14);
  height: unset;
  width: auto;
  display: flex;
  min-width: unset;
  align-items: center;
  justify-content: center;
}

.isCircular:hover {
  background-color: #f6f4f4;
}