.base {
  min-height: 100px;
  border-bottom: 1px solid #dddada;
  border-right: 1px solid #dddada;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.base:nth-of-type(6n + 6) {
  border-right: 0;
}

.container {
  padding: 8px;
  height: 100%;
}

.containerDivider {
  border-bottom: 1px solid #dddada;
}

.isOtherMonth {
  background-color: #f0f0f4;
}

.isPublicHoliday {
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #f7d960;
}

.isPrivateHoliday {
  background-color: #84b3ff;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  letter-spacing: normal;
  text-align: left;
  color: #727272;
}

.body {
  max-height: 80px;
  overflow-y: scroll;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  width: 20px;
  height: 20px;
}

.button:hover {
  background-color: #f3f3f3;
}

.day {
  font-size: 12px;
  line-height: 1.36;
  color: #727272;
}

.animatedDay {
  composes: day;
  margin-left: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10069f;
  color: white;
}

.today {
  composes: day;
  margin-left: -4px;
  padding: 4px 5px;
  border-radius: 50%;
  background-color: #10069f;
  color: white;
}

.time {
  margin-left: auto;
  margin-right: 8px;
}

.holidayDescription {
  /* white-space: nowrap;
  overflow: hidden;
  width: 13ch;
   text-overflow: ellipsis; */
  margin-left: 8px;
  margin-right: auto;
}
